:root{
    --gris-claro:  #ADADAD;
    --blanco: #f0f1f1;
    --rojo:  #D62D2D;
    --negro: #000000;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--negro);
}