{% extends 'base.html' %}

{% block navegador%}
<header class="header">
    <nav class="barra-navegacion">
        <div class="logo">
          <img src="{{url_for('static', filename='img/CB_Clothing_Bunker.png')}}" alt="" class="clase-logo" onclick="window.location.href='{{ url_for('home')}}';">
        </div>

        <div class="mi-perfil">
          <p style="color: white; font-size: 45px; margin-top: 20px;">Chat</p>
        </div>

        <div class="navegacion-perfil">
          <div class="subir-foto" onclick="lineaFoto()">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="40" fill="grey" class="bi bi-plus mas" viewBox="0 0 16 14" id="icono-subir-foto">
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </div>

          <div class="perfil">
            <img src="{{fotoDePerfil}}" alt="" class="foto-de-perfil-1" 
            onclick="window.location.href='{{ url_for('mostrarUsuario', username=session['usuario'])}}';">
          </div>

          <div class="flecha-desplegable" id="desplegable" onclick="menuMini()">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round" id="flecha1">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
          </div>
          <form action="/logout" class="log-out" method="POST" style="display: none;" id="log-out">
            <button type="submit" formaction="/favoritos" formmethod="GET" formnovalidate="" class="botones">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star estilo-icono" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="red" fill="none" stroke-linecap="round" stroke-linejoin="round" id="favorito">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
              </svg>
            </button>
            <button type="submit" class="botones">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout estilo-icono" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="black" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
            </svg>
          </button>
          </form>
        </div>
      
    </nav>
</header>
<div class="invisible">
      
</div>
{% endblock %}

{% block principal %}
<div class="contendor-principal-mensajes">
    <div class="principal-mensajes">
        <div class="contenedor-mensajes">
            <ul id="chat" class="box-chat">
              {% for i in range(listaMensajes|length) %}
                <li>{{listaMensajes[i][0]}}</li>
              {%endfor%}
            </ul>
        </div>
    </div>
    <footer class="contenedor-input-mensajes">
      <input type="text" name="" id="MyMsg" placeholder="Ingresa tu mensaje" class="input-mensajes" maxlength="100">
    
      <button type="button" id="send" class="boton-enviar-mensaje botones" onclick="enviar()">
    
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send estilo-icono" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="black" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <line x1="10" y1="14" x2="21" y2="3"></line>
          <path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5"></path>
        </svg>
    
      </button>
    </footer>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous">
</script>

<script type="text/javascript" charset="utf-8">
    var socket = io();
    let mensajes = document.getElementById("chat")
 
    var input = document.getElementById('MyMsg');
    input.addEventListener('keyup', function(event) {
    if (event.keyCode === 13) {
        document.getElementById('send').click();
    }
    });
 
 
    function enviar(){
        var msg = document.getElementById('MyMsg').value
        console.log(msg)
        if(msg != ""){
            socket.emit('recibirMsg', msg, "Sala1");
            document.getElementById('MyMsg').value = "";
        }else{
            alert("Tienes que ingresar un mensaje!")
        }
    };

  socket.on('connect', function(){
    socket.emit('join', {room: "Sala1"});
  });

  socket.on('update', function (room) {
    console.log("Sala:", room);
  });
  
    socket.on('enviarMsg', function(json){
        var chat = document.getElementById('chat');
        var mensajes = document.createElement("li");
        mensajes.innerHTML = json;
        chat.appendChild(mensajes);
        console.log(json);
    });
</script>
{% endblock %}
