<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing Bunker Moderador</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/moderador-style.css')}}">
    <link rel="website icon" href="{{url_for('static', filename='img/LOGO_CB.png')}}" type="png"> <!--aca va el logo de la pagina para que aparezca en la pestaña-->

</head>
<body>
    <div class="contenedor">

        <div class="div-input">
            <input type="text" name="" id="" class="moderador">

            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search icono-2" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="black" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="10" cy="10" r="7"></circle>
                <line x1="21" y1="21" x2="15" y2="15"></line>
            </svg>

        </div>

    </div>

</body>
</html>