<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Clothing Bunker </title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/base-style.css')}}"> 
    <link rel="website icon" href="{{url_for('static', filename='img/CB.png')}}" type="png"> <!--aca va el logo de la pagina para que aparezca en la pestaña-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
</head>
<body>
    <div class="contenedor">
        <h1>¿A que usuario vas a banear?</h1>
        
        <div class="div-input">
            <form action="/eliminarUsuario" method="post">
                <select id="usuarios" name="userBan">
                    {% for i in range(listaUsuarios|length) %}
                        <option name="userBan" value="{{ listaUsuarios[i][0] }}">{{ listaUsuarios[i][0] }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Banear Usuario</button>
            </form>
        </div>
        
    </div>
</body>
</html>